{% extends '../index_master.html' %}
{% block title %}
Lista de Usuarios
{% endblock %}
{% block content %}
<div class="right_col" role="main">
  <h1>Lista de usuarios</h1>
  <div>
    <input type="text" name="keyword" id="keyword" class="form-control">
    
  </div>
  <div class="table-responsive">
    
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Cédula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Dirección</th>
          <th scope="col">Categoría de licencia</th>
          <th scope="col">Vigencia de licencia</th>
          <th scope="col">Dependencia</th>
          <th scope="col">Acción</th>

        </tr>
      </thead>
      <tbody>

        {% for u in usuarios %}
          <tr>
            <th scope="row">{{ u.id_per }}</th>
            <td>{{ u.nom_per }}</td>
            <td>{{ u.ape_per }}</td>
            <td>{{ u.tel_per }}</td>
            <td>{{ u.dir_per }}</td>
            <td>{{ u.cat_per }}</td>
            <td>{{ u.vig_per }}</td>
            <td>{{ u.dep_per }}</td>
            <td>
              <button class="btn btn-warning" onclick="window.location.href='actualizar/{{ u.id_per }}'"><i class="fa fa-refresh"></i></i></button>
              <button class="btn btn-danger" onclick="window.location.href='eliminar/{{ u.id_per }}'"><i class="fa fa-trash"></i></i></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

</div>

{% endblock %}